<section class="contact">
  <div class="container">
    <h2 class="contact__title">Contact</h2>
    <form class="contact__form" action="">
      <p class="contact__description">We will answer any question!</p>
      <input
        class="contact__input"
        type="email"
        name="user-mail"
        placeholder="Email"
      />
      <input
        class="contact__input"
        type="text"
        name="user-question"
        placeholder="Type your question"
        pattern="[a-zA-Zа-яА-ЯІіЇї]+"
      />
      <button class="contact__btn">Send</button>
    </form>
  </div>
</section>
