<footer class="page-footer">
  <div class="container">
    <ul class="contact__social-list list">
      <li class="contact__social-list-item">
        <a href="" class="contact__social-link link">
          <svg class="constact__svg" width="16" height="16">
            <use class="icon" href="/src/images/sprite-icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="contact__social-link link">
          <svg class="constact__svg" width="16" height="16">
            <use
              class="icon"
              href="/src/images/sprite-icons.svg#instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="" class="contact__social-link link">
          <svg class="constact__svg" width="16" height="16">
            <use
              class="icon"
              href="/src/images/sprite-icons.svg#facebook"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="page-footer__list list">
      <li>
        <svg class="page-footer__svg" width="13" height="14">
          <use href="/src/images/sprite-icons.svg#phone"></use>
        </svg>
        <a href="tel:9102228855" class="page-footer__link link"
          >(910)222-8855</a
        >
      </li>
      <li>
        <svg class="page-footer__svg" width="12" height="16">
          <use href="/src/images/sprite-icons.svg#address"></use>
        </svg>
        <a
          href="https://goo.gl/maps/es5fF5DkBJhGJGc97"
          target="_blank"
          rel="noreferer noopener nofollow"
          class="page-footer__link link"
          >New York</a
        >
      </li>
    </ul>
  </div>
</footer>
