<section class="price">
  <div class="container">
    <h2 class="price__title title">Price</h2>
    <ul class="price__list list">
      <li class="price__item">
        <h3 class="price__name-category title">Easy start</h3>
        <ul class="price__list-category list">
          <li class="price__item-category">
            features of yeast dough preparation
          </li>
          <li class="price__item-category">
            preparation of liquid caramel for stuffing
          </li>
          <li class="price__item-category">
            preparation of raspberry and strawberry filling
          </li>
          <li class="price__item-category">fry and glaze donuts</li>
        </ul>
        <a href="#registration" class="price__link-category link">Register</a>
      </li>
      <li class="price__item">
        <h3 class="price__name-category title">I want delicious donuts</h3>
        <ul class="price__list-category list">
          <li class="price__item-category">
            features of yeast dough preparation
          </li>
          <li class="price__item-category">
            preparation of liquid caramel for stuffing
          </li>
          <li class="price__item-category">
            preparation of raspberry and strawberry filling
          </li>
          <li class="price__item-category">melt chocolate for decoration</li>
          <li class="price__item-category">fry and glaze donuts</li>
          <li class="price__item-category">
            donut decoration. painting and various techniques
          </li>
        </ul>
        <a href="#registration" class="price__link-category link">Register</a>
      </li>
      <li class="price__item">
        <h3 class="price__name-category title">Premium</h3>
        <ul class="price__list-category list">
          <li class="price__item-category">
            features of yeast dough preparation
          </li>
          <li class="price__item-category">
            preparation of liquid caramel for stuffing
          </li>
          <li class="price__item-category">
            preparation of raspberry and strawberry filling
          </li>
          <li class="price__item-category">melt chocolate for decoration</li>
          <li class="price__item-category">fry and glaze donuts</li>
          <li class="price__item-category">
            donut decoration. painting and various techniques
          </li>
          <li class="price__item-category">
            After party and donut tasting with speakers
          </li>
          <li class="price__item-category">
            2 private lessons with one of the speakers
          </li>
        </ul>
        <a href="#registration" class="price__link-category link">Register</a>
      </li>
    </ul>
  </div>
</section>
