<section class="program section">
  <div class="container">
    <div class="program__flex-container">
      <div class="program__info">
        <h2 class="program__title title">Program</h2>
        <p class="program__text">
          Indulge in this immersive sweet treat experience with The Chef Donut
          Queen in her New York donut shop!
        </p>
        <ul class="program__menu list">
          <li class="program__menu-item">A stand up history of donuts</li>
          <li class="program__menu-item">
            Make 3 donut flavors of your choice
          </li>
          <li class="program__menu-item">Enjoy all-you-can-eat donuts</li>
          <li class="program__menu-item">
            Cocktail pairings and coffee included
          </li>
          <li class="program__menu-item">
            Photoshoot by professional photographer
          </li>
          <li class="program__menu-item">Secret receipt of cooking from Eva</li>
          <li class="program__menu-item">
            All products are included in the price
          </li>
        </ul>
        <p class="program__text program__text--full" id="more">
          Come with your dear people and friends and you will spend an
          unforgettable time and will become a real professional in donuts
          cooking!
        </p>
        <button
          onclick="readMoreProgramFunc()"
          class="program__btn"
          id="program_btn"
        >
          Read more
        </button>
      </div>

      <ul class="program__img list">
        <li class="program__img-item">
          <img
            src="./images/program1.png"
            alt=""
            class="program__img-pictures"
          />
          <p class="program__igm-text">Type of the event</p>
          <p class="program__igm-text-small">Cooking classes</p>
        </li>
        <li class="program__img-item">
          <img
            src="./images/program2.png"
            alt=""
            class="program__img-pictures"
          />
          <p class="program__igm-text">Number of guests</p>
          <p class="program__igm-text-small">1 to 20</p>
        </li>
        <li class="program__img-item">
          <img
            src="./images/program3.png"
            alt=""
            class="program__img-pictures"
          />
          <p class="program__igm-text">Type of the event</p>
          <p class="program__igm-text-small">18:30 (2.5 hours)</p>
        </li>
        <li class="program__img-item">
          <img
            src="./images/program4.png"
            alt=""
            class="program__img-pictures"
          />
          <p class="program__igm-text">The host speaks</p>
          <p class="program__igm-text-small">English, French</p>
        </li>
      </ul>
    </div>
  </div>
</section>
