<section class="section">
    <div class="container">
        <h2 class="section__title title">Registration</h2>
        <div class="bgi-container">
            <picture class="bgi-container_image">
                <source
                    srcset="/src/images/registration1-deskPNG.png 1x, /src/images/registration1-desk@2xPNG.png 2x, /src/images/registration1-desk@3xPNG.png 3x"
                    media="(min-width: 1200px)">
                <source
                    srcset="/src/images/registration1-tabPNG.png 1x, /src/images/registration1-tab@2xPNG.png 2x, /src/images/registration1-tab@2xPNG.png 3x"
                    media="(min-width: 768px)">
                <img src="/src/images/registration1-tabPNG.png" alt="donuts">
            </picture>
            <p class="bgi-container__description">May 23, 11:00 </br>New York 
            </p> 
            <form class="registration">
                <p class="registration__post">Apply your personal info for registration  
                </p>
                <input class="registration__input" type="text" name="name" placeholder="Your name"
                    pattern="[a-zA-Zа-яА-ЯІіЇї]+" required>
                <input class="registration__input" type="tel" name="phone" placeholder="Phone number" pattern="[0-9]+"
                    required minlength="10">
                <input class="registration__input" type="email" name="mail" placeholder="Email">
            </form>
            <button class="button btn-registration" type="button">Register</button>
        </div>
    </div>
</section>

