<footer class="page-footer">
    <div class="container">
        <ul class="page-footer__list">
            <li><a href="https://goo.gl/maps/es5fF5DkBJhGJGc97" target="_blank" rel="noreferer noopener nofollow">New York</a></li>
            <li><a href="tel:9102228855">(910)222-8855</a></li>
        </ul>
        <picture>
            <source srcset="./images/пончикиPNG.png 1x, ./images/пончикиPNG@2x.png 2x, ./images/пончикиPNG@3x.png 3x">
            <img src="./images/пончикиPNG.png" alt="donut">
        </picture>
    </div>
</footer>