<section class="section">
    <div class="container">
        <h2>Registration</h2>
        <div class="bgi-container">
            <picture>
                <source
                    srcset="./images/registration1-deskJPG.jpg 1x, ./images/registration1-deskJPG@2x.jpg 2x, ./images/registration1-deskJPG@3x.jpg 3x"
                    media="(min-wirth: 1200px)">
                <source
                    srcset="./images/registration1-tabJPG.jpg 1x, ./images/registration1-tabJPG@2x.jpg 2x, ./images/registration1-tabJPG@3x.jpg 3x"
                    media="(min-wirth: 768px)">
             <img src="./images/registration1-tabJPG.jpg" alt="donuts">
            </picture>
            <p>May 23, 11:00
                New York</p>
            <form class="registration">
                <p class="registration__post">Apply your personal info
                    for registration</p>
                <input class="registration__input" type="text" name="name" placeholder="Your name"
                    pattern="[a-zA-Zа-яА-ЯІіЇї]+" required>
                <input class="registration__input" type="tel" name="phone" placeholder="Phone number" pattern="[0-9]+"
                    required minlength="10">
                <input class="registration__input" type="email" name="mail" placeholder="Email">
            </form>
            <button class="btn-registration" type="button">Register</button>
        </div>
    </div>
</section>