<section class="reviews">
    <h2 class="reviews__title"></h2>
    <ul class="reviews__menu">
        <li class="reviews__menu-item">
            <img src="./images/review1.png" alt="" class="reviews__menu-img">
            <svg class="reviews__menu-icon">
                <use href="./images/sprite-icons.svg#rate"></use>
            </svg>
            <p class="reviews__menu-name">John</p>
        </li>
        <li class="reviews__menu-item">
            <img src="./images/review2.png" alt="" class="reviews__menu-img">
            <svg class="reviews__menu-icon">
                <use href="./images/sprite-icons.svg#rate-full"></use>
            </svg>
            <p class="reviews__menu-name">Will</p>
        </li>
        <li class="reviews__menu-item">
            <img src="./images/review3.png" alt="" class="reviews__menu-img">
            <svg class="reviews__menu-icon">
                <use href="./images/sprite-icons.svg#rate-full"></use>
            </svg>
            <p class="reviews__menu-name">Elisabeth</p>
        </li>
    </ul>
    <p class="reviews__text">Last time I have visited a cooking course by Eva
    I was impressed with the way she explained everything
    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
    <div class="reviews__number">
        <span class="reviews__number-line"></span>
        <p class="reviews__number-text">2/15</p>
        <span class="reviews__number-line"></span>
    </div>
</section>