<section class="speakers section" id="speakers">
  <div class="container">
    <h2 class="speakers__title title">Speakers</h2>
    <ul class="speakers__menu list">
      <li class="speakers__menu-item">
        <picture>
          <source
            srcset="
              /src/images/speaker1-desk.png   1x,
              /src/images/speaker1-desk2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/speaker1-tab.png   1x,
              /src/images/speaker1-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="/src/images/speaker1.png 1x, /src/images/speaker1@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/speaker1.png"
            alt="Master chocolatier"
            class="speakers__menu-img"
          />
        </picture>
        <p class="speakers__menu-text-name">Molly Rivera</p>
        <p class="speakers__menu-text">
          Pastry chef, master chocolatier of Spain,
        </p>
      </li>
      <li class="speakers__menu-item">
        <picture>
          <source
            srcset="
              /src/images/speaker2-desk.png   1x,
              /src/images/speaker2-desk2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/speaker2-tab.png   1x,
              /src/images/speaker2-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="/src/images/speaker2.png 1x, /src/images/speaker2@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/speaker2.png"
            alt="Pastry chef"
            class="speakers__menu-img"
          />
        </picture>
        <p class="speakers__menu-text-name">Sophia Clark</p>
        <p class="speakers__menu-text">Сulinary school pastry chef</p>
      </li>
      <li class="speakers__menu-item">
        <picture>
          <source
            srcset="
              /src/images/speaker3-desk.png   1x,
              /src/images/speaker3-desk2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/speaker3-tab.png   1x,
              /src/images/speaker3-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="/src/images/speaker3.png 1x, /src/images/speaker3@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/speaker3.png"
            alt="Сonsultant in the art of confectionery"
            class="speakers__menu-img"
          />
        </picture>
        <p class="speakers__menu-text-name">Isabella Taylor</p>
        <p class="speakers__menu-text">
          Сonsultant in the art of confectionery
        </p>
      </li>
      <li class="speakers__menu-item">
        <picture>
          <source
            srcset="
              /src/images/speaker4-desk.png   1x,
              /src/images/speaker4-desk2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/speaker4-tab.png   1x,
              /src/images/speaker4-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="/src/images/speaker4.png 1x, /src/images/speaker4@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/speaker4.png"
            alt="Master-chocolatier"
            class="speakers__menu-img"
          />
        </picture>
        <p class="speakers__menu-text-name">Evelyn Miller</p>
        <p class="speakers__menu-text">Master-chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
