<section class="speakers">
    <h2 class="speakers__title title">Speakers</h2>
    <ul class="speakers__menu list">
        <li class="speakers__menu-item">
            <img src="./images/speaker1.png" alt="" class="speakers__menu-img">
            <p class="speakers__menu-text-name">Molly Rivera</p>
            <p class="speakers__menu-text">Pastry chef, master chocolatier of Spain,</p>
        </li>
        <li class="speakers__menu-item">
            <img src="./images/speaker2.png" alt="" class="speakers__menu-img">
            <p class="speakers__menu-text-name">Sophia Clark</p>
            <p class="speakers__menu-text">Сulinary school pastry chef</p>
        </li>
        <li class="speakers__menu-item">
            <img src="./images/speaker3.png" alt="" class="speakers__menu-img">
            <p class="speakers__menu-text-name">Isabella Taylor</p>
            <p class="speakers__menu-text">Сonsultant in the art of confectionery</p>
        </li>
        <li class="speakers__menu-item">
            <img src="./images/speaker4.png" alt="" class="speakers__menu-img">
            <p class="speakers__menu-text-name">Evelyn Miller</p>
            <p class="speakers__menu-text">Master-chocolatier in Spain</p>
        </li>
    </ul>
</section>