.contact {
    padding-top: 40px;
    padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
    .contact {
        padding-top: 68px;
        padding-bottom: 80px;
    }
}
.contact__form {
    width: 280px;
    text-align: center;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    .contact__form {
        width: 336px;
        margin-bottom: 37px;
    }
}
.contact__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
    .contact__title {
        font-weight: 500;
        font-size: 32px;
    }
}
.contact__description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .contact__description {
        margin-bottom: 27px;
    }
}
.contact__input {
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000000;
    color: rgba(0, 0, 0, 0.5);
    
}
@media screen and (min-width: 768px) {
    .contact__input {
        font-size: 18px;
        margin-bottom: 16px;

    &:nth-child(3) {
        margin-bottom: 32px;
        }    
    }
}
.contact__btn {
    min-width: 145px;
    height: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    color: var(--second-text-color);
    background-color: var(--accent-color);
    filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
.contact__social-list {
    display: flex;
    column-gap: 16px;
    justify-content: center;
}

.contact__social-link {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}
.contact__social-link:hover,
.contact__social-link:focus {
    background-color: var(--main-text-color);
    fill: var(--accent-color);
}
.constact__svg:hover,
.constact__svg:focus {
    fill: var(--accent-color);
}