.price {
    padding-top: 40px;
    padding-bottom: 20px;
}

.price__title {
    @media screen and (max-width: 767px){
        font-weight: 600;
        font-size: 24px;
        line-height: 1.20;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 27px;
    }
}

.price__list{
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 15px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 32px;
    }
}

.price__item {
    position: relative;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 16px;
    padding-bottom: 24px;
    box-shadow: 10px 15px 25px rgba(210, 201, 201, 0.45);
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(#fafbfb, 0.45);

    @media screen and (max-width: 479px) {
        max-width: 280px;
    }

    @media screen and (min-width: 480px){
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 225px;
        height: 580px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        width: 395px;
        height: 610px;
        padding-top: 28px;
    }
}

.price__item:not(:first-child) {
    background-image: url('/src/images/price-mob.png');
    background-repeat: no-repeat;
    background-position: center 70%;

    @media screen and (min-width: 1200px) {
        background-image: url('/src/images/price-desk.png');
    }
}

.price__item:first-child {
    @media screen and (min-width: 768px) {
        background-image: url('/src/images/price-mob-full.png');
        background-repeat: no-repeat;
        background-position: center 70%;
    }

    @media screen and (min-width: 1200px) {
        background-image: url('/src/images/price-desk.png');
    }
}

.price__item:hover,
.price__item:focus {
    border: 1 solid var(--accent-color);
}

.price__item:nth-child(2) {
    border: 1px solid #F3848C;
}

.price__list-category {
    padding-right: 19px;
    padding-left: 42px;

    @media screen and (min-width: 768px) {
        padding-right: 8px;
    }
}

.price__name-category {
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    margin-bottom: 16px;
    width: 212px;

    @media screen and (min-width: 768px) {
        width: 189px;
    }

    @media screen and (min-width: 1200px) {
        width: 247px;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 40px;
    }
}

.price__item-category{
    position: relative;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.25;
    }

    @media screen and (min-width: 1200px) {
        font-size: 18px;
        line-height: 1.2;
    }
}

.price__item-category:before {
    content: url('/src/images/list-icon.jpg');
    position: absolute;
    left: -35px;
    width: 24px;
    height: 24px;
}

// .price__link-box{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 0;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 40px;
//     width: 145px;
//     height: 40px;
//     border-radius: 25px;
//     background-color: var(--accent-color);
//     // filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));

//     // @media screen and (min-width: 768px) {
//     //     position: absolute;
//     //     bottom: 20px;
//     //     left: 50%;
//     //     transform: translateX(-50%);
//     // }

//     // @media screen and (min-width: 1200px) {
//     //     bottom: 40px;
//     // }
// }

.price__link-category {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    line-height: 1.2;

    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    height: 40px;
    border-radius: 25px;
    
    
    color: var(--second-text-color);
    background-color: var(--accent-color);
    box-shadow: (10px 15px 25px rgba(232, 183, 183, 0.45));

    @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    @media screen and (min-width: 1200px) {
        bottom: 40px;
    }
}

.price__link-category:hover,
.price__link-category:focus {
    background-color: var(--second-text-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
