.program {
    // background-color: bisque;
    padding-top: 10px;
    padding-bottom: 20px;
}

.program__title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--main-text-color);

    margin-bottom: 8px;
}

.program__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color);

    margin-bottom: 8px;
}

.program__menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color);
    margin-bottom: 16px;
}

.program__menu-item {
    display: flex;
    align-items: center;
    

    &:not(:last-child){
        margin-bottom: 10px;
    }

    &::before {
        content: '';
        background-image: url('/src/images/list.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}

.program__menu-icon {
    margin-right: 8px;
}

.program__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    // text-align: center;
    color: var(--main-text-color);
    background-color: transparent;

    padding: 0;
    border: inherit;
    margin-bottom: 24px;

    // width: 90px;
    // height: 20px;
}

.program__info {
    margin-bottom: 8px;
}

.program__text--full {
    @media screen and (max-width:1200px){
    display: none;
    }    
}

#more {
    display: none;
}

.program__img {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--second-text-color);

    display: flex;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 20px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.program__img-item {
    position: relative;
    max-width: 130px;
    max-height: 130px;

    display: flex;
    justify-content: center;
}

.program__img-item:nth-child(2) {
    transform: translateY(20px);
}

.program__img-item:nth-child(4) {
    transform: translateY(20px);
}

.program__img-pictures {
    border-radius: 50%;
}

.program__igm-text {
    position: absolute;
    top: 62;
}

.program__igm-text-small {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    position: absolute;
    top: 87;
}