.speakers {
    padding-top: 35px;
}
@media screen and (min-width: 768px) {
    .speakers {
        padding-top: 40px;
        padding-bottom: 75px;
    }
}
@media screen and (min-width: 1200px) {
    .speakers {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.speakers__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .speakers__title {
        font-size: 32px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .speakers__title {
        margin-bottom: 5px;
    }
}
.speakers__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    // width: 280px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .speakers__menu {
        flex-wrap: nowrap;
        gap: 32px;
    }
}

.speakers__menu-item {
    text-align: center;
    flex-basis: calc((100% - 40px) / 2);
}
@media screen and (min-width: 768px) {
    .speakers__menu-item {
        flex-basis: calc((100% - 96px) / 4);
    }
}
.speakers__menu-img {
    margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
    .speakers__menu-img {
        margin-bottom: 20px;
    }
}
.speakers__menu-text-name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
    .speakers__menu-text-name {
        font-size: 18px;
        margin-bottom: 20px;
    }
}
.speakers__menu-text {
    font-weight: 500;
    font-size: 12px;
}
@media screen and (min-width: 768px) {
    .speakers__menu-text {
        font-size: 14px;
    }
}
@media screen and (min-width: 1200px) {
    .speakers__menu-text {
        font-size: 16px;
        width: 181px;
        margin-left: auto;
        margin-right: auto;
    }
}